* {
    box-sizing: border-box;
}
body {
    margin: 0 20vh;
    min-width: 250px;
    background-color: #3AB4F2;
}


ul {
    margin: 5vh 4vh;
    padding: 0;
}

 ul li {
    cursor: pointer;
    position: relative;
    margin: 10px;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #7F5283;
    font-size: 20px;
    transition: 0.2s;
    border: 3px solid yellow;
    border-radius: 20px;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
 
ul li:nth-child(odd) {
    background: #3CCF4E;
}


ul li:hover {
    background: #FFFFFF;
}

ul li.checked {
    background: #333;
    color: #fff;
    text-decoration: line-through;

}


ul li.checked::before {
    position: absolute;
    content: '';
    border-width: 0 2px 5px 0 !important;
    border: 0 solid #fff;
    top: 10px;
    left: 15px;
    transform: rotate(40deg);
    height: 20px;
    width: 5px;
}

.close {
    border-radius: 20px;
    position: absolute;
    right: 0;
    top: 0;
    padding: 10px 15px 10px 15px;
}

.close:hover {
    background-color: #d8af27;
    color: white;
    width: 5%;
}

.heading {
    background-color: #A5C9CA;
    margin: 20px 0;
    padding: 15px 20px;
    text-align: center;
    height: 200px;
    border-radius: 20px;

}


div h2 {
    
    font-size: 25px;
    margin: 10px;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}


input {
    margin: 10px 40px;
    padding: 10px;
    border: none;
    border-style: none;
    border-radius: 15px;
    width: 60%;
    float: left;
    font-size: 15px;
}

.addBtn {
    margin: 10px;
    padding: 5px;
    width: 25%;
    background: #d9d9d9;
    color: rgb(36, 31, 31);
    float: left;
    text-align: center;
    font-size: 20px;
    font-weight: 900;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 10px;
}

.addBtn:hover {
    background-color: #555;
    color: white;
}

.footer {
    position: fixed;
    align-items: center;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: rgb(206, 206, 233);

}